{% extends 'base.html' %}
{% block content %}

<div class="container my-3">
    <h2 class="border-bottom py-2">{{ lecture.subject }}</h2>
    <div class="card my-3">
        {% if lecture.upload %}
        <video src="{{ lecture.upload.url }}" max-width:80% controls></video>
        <a id="id_uploaded_file" href="{{ lecture.upload.url }}" download>강의 자료 다운로드받기: {{ lecture.upload.name }}</a>
        {% else %}
        <tr>
            <td colspan="3">강의 자료가 없습니다.</td>
        </tr>
        {% endif %}
        <div class="card-body">
            <div class="card-text" style="white-space: pre-line;">{{ lecture.content }}</div>
            <div class="d-flex justify-content-end">
                <div class="badge badge-light p-2">
                    {{ lecture.create_date }}
                </div>
            </div>
        </div>
        <a href="{% url 'lecture:lecture_delete' lecture.id %}" class="delete btn btn-sm btn-outline-secondary"
       data-uri="{% url 'lecture:lecture_delete' lecture.id %}">강좌 삭제하기</a>
    </div>
</div>

{% endblock %}

{% block script %}
<script type='text/javascript'>
$(document).ready(function(){
    $(".delete").on('click', function() {
        if(confirm("정말로 삭제하시겠습니까?")) {
            location.href = $(this).data('uri');
        }
    });
});
</script>
{% endblock %}